@import "../../../../node_modules/bootstrap";

footer {
  background-color: #5a13f2;
  padding: 40px;
}

.footer-logo img {
  display: block;
  height: 70px;
}

footer h1 {
  font-family: 'Varela Round', sans-serif;
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

a, p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

a:hover {
  color: #c010d9;
}

.modal-footer {
  padding-top: 30px;
}

@include media-breakpoint-down(md) {
  footer h1 {
    font-size: 18px;
  }
  p {
    font-size: 15px;
  }
  .footer-logo {
    margin: 0 0 40px 0;
  }
  .footer-logo img {
    display: block;
    height: 40px;
  }
}
