<div class="wrapper">
  <footer class="modal-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-12">
          <div class="footer-logo">
            <img src="../../../assets/logo/schriftlogo-impact-final-wei-02.png"/>
          </div>
        </div>
        <div class="col-lg-2 col-md-4">
          <h1>Kontakt</h1>
          <p><a href="mailto:info@yourimpact.eu">info@yourimpact.eu</a></p>
          <p><a href="">Instagram</a></p>
          <p><a href="">Facebook</a></p>
          <p><a href="">Linkedin</a></p>
        </div>
        <div class="col-lg-2 col-md-4">
          <a href=""><h1>Impressum</h1></a>

        </div>
        <div class="col-lg-2 col-md-4">
          <a href=""><h1>Datenschutz</h1></a>

        </div>
        <div class="col-lg-3 col-md-12 align-self-end">
          <p style="text-align: end">&copy; 2020 impact</p>

        </div>
      </div>
    </div>
  </footer>
</div>
