<div id="kontakt" class="wrapper">
  <footer class="modal-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-12">
          <div class="footer-logo">
            <a routerLink="/"> <img  src="../../../assets/logo/schriftlogo-impact-final-wei-02.png"/></a>
          </div>
        </div>
        <div #kontakt class="col-lg-2 col-md-4 col-7">
          <h1>Kontakt</h1>
          <p><a href="mailto:info@yourimpact.eu">info@yourimpact.eu</a></p>
          <p><a href="https://www.instagram.com/yourimpact.eu/">Instagram</a></p>
          <p><a href="https://facebook.com/yourimpact.eu/">Facebook</a></p>
          <p><a href="https://www.linkedin.com/mwlite/company/yourimpact">LinkedIn</a></p>
        </div>
        <div class="col-lg-4 col-md-8 col-5 row align-content-start">
          <div class="col-lg-6 col-md-6 col-12">
            <a routerLink="/impressum"><h1>Impressum</h1></a>
          </div>
          <div class="col-lg-6 col-md-6 col-12">
            <a routerLink="/datenschutz"><h1>Datenschutz</h1></a>
          </div>
        </div>
        <div class="col-lg-3 col-md-12 col-12 align-self-end">
          <p style="text-align: end">&copy; 2020 impact</p>
        </div>
      </div>
    </div>
  </footer>
</div>
