<div class="wrapper">
  <mdb-navbar #navbar SideClass="navbar navbar-expand-lg navbar-light">
    <mdb-navbar-brand><a class="navbar-brand" routerLink="/"><img class="nav-logo" src="../../../assets/logo/Schriftlogo_impact.png"/></a></mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto navbar-items">
        <li class="nav-item">
          <a pageScroll href="#mitmachen" routerLink="/" class="nav-link waves-dark" mdbWavesEffect>Mitmachen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-dark" routerLink="/organisationen" mdbWavesEffect>Organisationen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-dark" routerLink="/sponsoring" mdbWavesEffect>Sponsoren</a>
        </li>
        <li class="nav-item">
          <a pageScroll href="#kontakt" class="nav-link waves-dark" mdbWavesEffect>Kontakt</a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
</div>

