<div class="wrapper">
  <mat-toolbar>
    <div class="nav-logo">
      <img src="../../../assets/logo/Schriftlogo_impact_final.png"/>
    </div>
    <span class="spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon class="menu">menu</mat-icon></button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item routerLink="/organizations" routerLinkActive="active">Organisationen</a>
      <button mat-menu-item>Mitmachen</button>
      <a mat-menu-item routerLink="/sponsoring" routerLinkActive="active">Sponsoren</a>
      <button mat-menu-item>Kontakt</button>
    </mat-menu>
  </mat-toolbar>
</div>
