<nav id="navbar">
  <ul>
    <li class="">
      <div class="navLogo">
        <a routerLink="/" class="logoLink">
          <img src="../../../assets/logo/Schriftlogo_impact.png" alt="impact logo" />
        </a>
      </div>
    </li>
    <li class="seperator">
      <a pageScroll routerLink="/" href="#mitmachen">
        Mitmachen
      </a>
    </li>
    <li class="seperator">
      <a routerLink="/organisationen">
        Organisationen
      </a>
    </li>
    <li class="seperator">
      <a routerLink="/sponsoring">
        Sponsoren
      </a>
    </li>
    <li class="seperator">
      <a pageScroll href="#kontakt">
        Kontakt
      </a>
    </li>
  </ul>
</nav>
