.spacer {
  flex: 1 1 auto;
}

.nav-logo img {
  height: 70px;
  vertical-align: middle;
}

.nav-logo {
  margin: 0 1rem 0 1rem ;
}

mat-toolbar {
  height: 90px;
  background-color: #f8f7f7;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.16);
}

.menu {
  color: #b230dc;
  font-size: 40px;
  width: 40px;
  display: inline;
}
