@import "../../../../node_modules/bootstrap";

@include media-breakpoint-down(sm) {

  .nav-logo {
    height: 40px;
    vertical-align: middle;
    margin: 0 0.5rem 0 0.5rem;
  }

  .navbar-items a {
    font-family: Varela Round, serif;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #000000;
    margin-left: 53px;
  }

}
