@import "../../../../node_modules/bootstrap";

.desktop-container, .mobile-container {
  background-color: #f8f7f7;
}

p {
  text-align: left;
  font: 100 18px Roboto;
  letter-spacing: 0px;
  color: #2F2F2F;
  opacity: 1;
}

b {
  text-align: left;
  font: 100 18px Roboto;
  letter-spacing: 0px;
  color: #2F2F2F;
  opacity: 1;
  font-weight: bold;
}

.header {
  width: 100%;
  height: 100vh;
  background-color: #5a22f2;
}

.header-container {
  padding: 15vh 0 15vh 0;
}

.header-img {
  vertical-align: bottom;
}

.header-img img {
  width: 100%;
  height: auto;
  margin-top: -80px;
}

.header .material-icons {
  display: block;
  position: absolute;
  bottom: 30px;
  left: 50%;
  font-size: 60px !important;
  color: #FFFFFF;
}

.button {
  opacity: 1;
  font-family: Varela Round, serif;
  font-size: 18px;
  text-align: center;
  border-radius: 100px !important;
  padding: 10px 30px 10px 30px !important;
}

.header-button {
  background-color: #ffffff !important;
  color: #c010d9 !important;
}

.header-button:hover {
  background-color: #c010d9 !important;
  color: #ffffff !important;
}

.header-button-tooltip {
  background: #FFFFFF;
  color: #c010d9 !important;
  font-family: Varela Round, serif;
  font-size: 16px;
}

.header-text {
  text-align: left;
  font: 400 9vw Roboto, sans-serif;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  line-height: 1.2;
}

.intro, .team {
  padding: 10vh 5vw 10vh 5vw;
  background-color: #f8f7f7;
}

.intro {
  margin-top: 50px;
  background-image: url("../../../assets/Illus/background_intro.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
}

.section-headline {
  height: 60px;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  font-size: 40px;
  letter-spacing: 0px;
  color: #5a22f2;
  opacity: 1;
  margin-bottom: 3rem;
  line-height: 1;
}

.intro img {
  display: block;
  width: 80%;
  margin: 0 10% 20% 10%;
}

.team {
  background-image: url("../../../assets/Illus/background_team.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
  margin-bottom: 20px;
}

.teammebers {
  margin: 50px 0 50px 0;
}

.teammember {
  margin: 10px;
}

.teammember-description {
  margin: 5px;
}

.teammember-description p {
  text-align: center;
  margin: 0px;
}

.teammember-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-size: cover;
  border-style: solid;
}


.team-description p, .mitmachen-container p {
  text-align: center;
}

.mitmachen-button {
  background-color: #c010d9;
  color: #ffffff !important;
}

.mitmachen-button:hover {
  background-color: #FFFFFF !important;
  color: #c010d9 !important;
}

/*
@include media-breakpoint-down(sm) {
  .header {
    min-height: max-content;
  }
}

@include media-breakpoint-down(md) {
  .header-img img {
    margin-top: 0;
  }
  .header-text, .header-button, .header-img {
    margin: 10px 0 10px 0;
  }
  .header-text {
    font-size: 80px !important;
  }
}

@include media-breakpoint-down(sm) {
  .header-text {
    font-size: 50px !important;
  }
  .header-container {
    padding: 10vh 5vw 10vh 5vw
  }
}

 */
