<header class="header">
  <div class="header-container container">
    <div class="row justify-content-center">
      <div class="header-text col-">{{myViewModel.headline}}</div>
      <div class="header-img col-">
        <img alt="" src="../../../../assets/Illus/Header_alternativ.png">
      </div>
      <div class="col-">
            <a mat-raised-button (click)="openSnackBar('Cooming soon!', 'Close')" class="header-button button"
                routerLinkActive="active">{{myViewModel.headerbutton[0]}}</a>
      </div>
    </div>
  </div>
</header>

<section class="intro">
  <div data-aos="fade-up" class="intro-container">
    <div class="section-headline">{{myViewModel.functionheadline}}</div>
    <mdb-carousel class="carousel slide carousel-fade" [animation]="'slide'" [interval]="'0'">
      <mdb-carousel-item class="carousel-item">
        <div class="view w-100">
          <img class="d-block" alt="illu-vernetzen" src="./assets/Illus/Illu_Vernetzen.png">
          <b>{{myViewModel.functionvernetzen[0]}}</b>
          <p>{{myViewModel.functionvernetzen[1]}}</p>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <div class="view w-100 intro-slide">
          <img class="d-block" alt="illu-matchen" src="./assets/Illus/Illu_Matchen.png">
          <b>{{myViewModel.functionmatch[0]}}</b>
          <p>{{myViewModel.functionmatch[1]}}</p>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <div class="view w-100 intro-slide">
          <img class="d-block" alt="illu-belohnen" src="./assets/Illus/Illu_Anerkennen.png">
          <b>{{myViewModel.functionbelohnen[0]}}</b>
          <p>{{myViewModel.functionbelohnen[1]}}</p>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
  </div>
</section>

<section class="team">
  <div data-aos="fade-up" class="team-container">
    <div class="section-headline">{{myViewModel.teamheadline}}</div>
    <div class="team-description">
      <p>{{myViewModel.teamdescription}}</p>
    </div>
    <div class="teammember-slide">
      <div class="row justify-content-center align-items-center align-content-center">
        <carousel [dots]="true" [loop]="true" [arrows]="false" [cellsToShow]="3" [height]="160">
          <div *ngFor="let teammember of myViewModel.teamMembers" class="carousel-cell">
            <div class="teammember-img mx-auto" style="background-image: url({{ teammember.img }}); border-color: {{ teammember.color }} "></div>
            <div class="teammember-description">
              <p style="color: {{teammember.color}}; font-weight: bold">{{ teammember.name }}</p>
              <p style="color: {{teammember.color}}">{{ teammember.task }}</p>
            </div>
          </div>
        </carousel>
      </div>
    </div>
  </div>
  <div id="mitmachen" class="mitmachen-container">
    <div class="section-headline">{{myViewModel.mitmachenheadline}}</div>
    <p>{{myViewModel.mitmachendescription}}</p>
    <div class="row justify-content-center align-items-center mitmachen">
      <div class="col-3">
        <img alt="Illu_Mitmachen" src="./assets/Illus/Illu_Mitmachen.png">
      </div>
      <div class="col-9">
        <a href="mailto:mitgliedwerden@yourimpact.eu?subject=Ich%20m%C3%B6chte%20gerne%20Mitglied%20werden" mat-raised-button class="button mitmachen-button"
           routerLinkActive="active">{{myViewModel.mitmachenbutton}}</a>
      </div>
    </div>
  </div>
</section>
