@use '../../../styles-mobile';
@import "../../../../node_modules/bootstrap";

@include media-breakpoint-down(sm) {

  .header {
    width: 100%;
    height: calc(100vh - 50px);
    background-color: #5a22f2;
    overflow: auto;
  }

  .header-container {
    padding: 12vh 5vw 8vh 5vw;
  }

  .header-img {
    vertical-align: bottom;
  }

  .header-img img {
    width: 100%;
    height: auto;
  }

  .header-button {
    background-color: #ffffff !important;
    color: #c010d9 !important;
    margin-top: 50px !important;
    box-shadow: none !important;
  }

  .header-button-tooltip {
    background: #FFFFFF;
    color: #c010d9 !important;
    font-family: Varela Round, serif;
    font-size: 16px;
  }

  .header-text {
    padding: 0 30px 30px 30px;
    text-align: left;
    font: 400 15vw Roboto, sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    line-height: 1.2;
  }

  .intro, .team, .insta, .media {
    padding: 10vh 0 5vh 0;
    background-color: #f7f7f7;
  }


  .intro-container, .team-container, .mitmachen-container, .media-container {
    width: 100%;
    padding: 0vh 10vw 0vh 10vw;
  }

  .intro-container img {
    height: 10rem;
    margin: 0 auto 20px auto;
  }

  .teammember-slide {
    margin: 30px 0 50px 0;
  }

  .teammember-description {
    margin: 5px;
  }

  .teammember-description p {
    text-align: center;
    margin: 0px;
    font-size: 12px;
  }

  .teammember-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-size: cover;
    border-style: solid;
  }

  .teammembers-viewport {
    height: 160px;
    width: 80vw;
  }

  .teammembers-viewport .cdk-virtual-scroll-content-wrapper {
    display: flex;
    flex-direction: row;
  }

  .teammember-cell {
    margin-right: 10px;
  }

  .team .material-icons {
    margin: 0 3px 0 3px;
    display: inline;
    vertical-align: text-bottom;
    font-size: 16px;
  }

  .team-description p, .mitmachen-container p {
    text-align: left;
  }

  .mitmachen-button {
    background-color: #c010d9;
    color: #ffffff !important;
  }

  .mitmachen-button:hover {
    background-color: #FFFFFF !important;
    color: #c010d9 !important;
  }

  .mitmachen-container img {
    display: block;
    height: 100px;
    margin-left: -20px;
  }

  .mitmachen {
    padding-top: 5vh;
  }

  .insta-box {
    padding: 10px;
  }

  .insta-feed {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    padding: 10px;
  }

  .insta-img img {
    height: 100%;
    width: 100%;
  }

  .insta-img-description p, .insta-img-description b {
    font-size: 12px !important;
  }

  .insta-img-description p {
    margin: 12px 0 2px 0 !important;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .media-article {
    padding: 15px;
  }

  .media-article img {
    height: auto;
    max-width: 100%;
    max-height: 150px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)  contrast(0.3);;
    display: block;
  }

}
