<header class="header">
  <div class="header-container container">
    <div class="row">
      <div class="header-text col-lg-8">
        What's your impact?
      </div>
    </div>
    <div class="row justify-content-between align-items-end">
      <div class="col-lg-5">
        <div class="row">
          <div class="col-6">
            <a mat-raised-button class="orga-button" routerLink="/organizations" routerLinkActive="active">Organisationen</a>
          </div>
          <div class="col-6">
            <button mat-raised-button class="helfer-button">Helfer*innen</button>
          </div>
        </div>
      </div>
      <div class="header-img col-lg-7 ">
        <img alt="" src="../../../../assets/Illus/Header_alternativ.png">
      </div>
    </div>
  </div>
</header>

<!-- <button mat-flat-button class="scroll-up-button"><span class="material-icons">keyboard_arrow_up</span></button> -->

<section class="intro container">
  <div class="intro-container">
    <div class="intro-headline col-md-12">
      <h2>Wie funktioniert impact?</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img alt="" src="../../../../assets/Illus/Header_alternativ.png">
        <h4>Wir vernetzen dich</h4>
        <p>bla bla</p>
      </div>
      <div class="col-md-4">
        <img alt="" src="../../../../assets/Illus/Header_alternativ.png">
        <h4>Wir vernetzen dich</h4>
        <p>bla bla</p>
      </div>
      <div class="col-md-4">
        <img alt="" src="../../../../assets/Illus/Header_alternativ.png">
        <h4>Wir vernetzen dich</h4>
        <p>bla bla</p>
      </div>
     </div>
  </div>
</section>

<section class="team">
  <div class="team-container container">
    <div class="team-headline">
      <h2>Das Team</h2>
    </div>
    <div class="row justify-content-between">
      <div *ngFor="let teammember of teammembers" class="col-md-3 teammember">
        <div class="teammember-img" style="background-image: url({{ teammember.img }}); border-color: {{ teammember.color }} "></div>
        <p style="color: {{teammember.color}}">{{ teammember.name }}</p>
        <p style="color: {{teammember.color}}">{{ teammember.task }}</p>
      </div>
    </div>
  </div>
  <p>Wir sind ein wachsendes Team von 20 Studierenden aus Konstanz in den Teams Kommunikation, Design, Strategie und IT. Gemeinsam treffen wir uns, leider noch digital, regelmäßig und bringen die Fortschritte der jeweiligen Teams zusammen. Das überaus große Engagement, die fachspezifischen Kenntnisse und Erfahrungen der Teammitglieder, sowie die zielführenden Aktivitäten, lassen uns zuversichtlich auf ein zeitnahes Release von impact blicken.</p>
</section>

<section class="contact">
  <div class="contact-container">
    <div class="contact-headline">
      <h2>Wir würden uns freuen, wenn wir immer wieder neue, interessierte Mitglieder aufnehmen können, die unser Projekt stärken und voranbringen wollen. Interessiert? Dann nimm gerne Kontakt mit uns auf:</h2>
    </div>
    <div class="contact-field">
      <p>Schreibe einfach eine E-Mail an info@yourimpact.eu</p>
      <a mat-stroked-button href="mailto:info@yourimpact.eu">E-Mail schreiben</a>
    </div>
  </div>
</section>

<section class="insta">
  <div class="insta-container" data-aos="fade-up">
  </div>
</section>
