<header class="header">
  <div class="header-container container">
    <div class="row">
      <div class="header-text col-lg-8">What's your impact?</div>
    </div>
    <div class="row justify-content-around align-items-end">
      <div class="col-lg-5">
        <div class="row">
          <div class="col-4">
            <a mat-raised-button class="orga-button" routerLink="/organizations" routerLinkActive="active">Organisation</a>
          </div>
          <div class="col-4">
            <a mat-raised-button class="helfer-button" routerLink="/organizations" routerLinkActive="active">Mitmachen</a>
          </div>
          <div class="col-4">
            <a mat-raised-button class="helfer-button" routerLink="/sponsoring" routerLinkActive="active">Spenden</a>
          </div>
        </div>
      </div>
      <div class="header-img col-lg-7 ">
        <img alt="" src="../../../../assets/Illus/Header_alternativ.png">
      </div>
    </div>
  </div>
</header>

<!-- <button mat-flat-button class="scroll-up-button"><span class="material-icons">keyboard_arrow_up</span></button> -->

<section class="intro">
  <div class="intro-container container">
    <div class="intro-headline">Wie funktioniert impact?</div>
    <div class="row">
      <div class="col-md-4">
        <img alt="" src="../../../../assets/Illus/illu-vernetzen-blau.png">
        <b>Wir vernetzen dich</b>
        <p>Impact will dir die Möglichkeit geben,
          dich ohne Druck sozial zu engagieren.
          Dafür schaffen wir eine Plattform, die
          dich mit Hilfesuchenden verbindet und
          es dir erleichtert mehr für andere zu tun.
          Du findest als Privatperson, sowie als
          Organi-sation jede Hilfe die du brauchst.</p>
      </div>
      <div class="col-md-4">
        <img alt="" src="../../../../assets/Illus/illu-matchen-knall-zeichenfla-che-1.png">
        <b>Du findest dein Match</b>
        <p>Durch verschiedene Filtermöglichkeiten
          kannst du unter zahlreichen Such-
          angeboten verschiedenster Organisati-
          onen und Privatpersonen, die für dich
          passende Möglichkeit finden, dich
          sozial zu enga-gieren. Dafür verwenden
          wir unseren Matching-Algorithmus.</p>
      </div>
      <div class="col-md-4">
        <img alt="" src="../../../../assets/Illus/illu-anerkennen-gru-n.png">
        <b>Wir belohnen dich</b>
        <p>Für deinen Einsatz belohnen wir dich
          mit einem von unseren strategischen
          Partnern unterstütztem und
          anerkanntem Zertifikat. Unsere Vision
          ist es den gesellschaftlichen Zu-
          sammenhalt über Krisenzeiten hinaus
          zu fördern und eine bundesweit
          einheitliche Plattform mit allen
          relevanten Akteuren zu schaffen.</p>
      </div>
     </div>
  </div>
</section>

<section class="team">
  <div class="team-container container">
    <div class="team-headline">Wer sind wir?</div>
    <div class="teammebers row justify-content-center align-items-center align-content-center">
      <div *ngFor="let teammember of teammembers" class="col-md-2 teammember">
        <div class="teammember-img mx-auto" style="background-image: url({{ teammember.img }}); border-color: {{ teammember.color }} "></div>
        <div class="teammember-description">
          <p style="color: {{teammember.color}}; font-weight: bold">{{ teammember.name }}</p>
          <p style="color: {{teammember.color}}">{{ teammember.task }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="team-description">
    <p>Wir sind ein wachsendes Team von 20 Studierenden aus Konstanz in den Teams Kommunikation, Design, Strategie und IT. Gemeinsam treffen wir uns, leider noch digital, regelmäßig und bringen die Fortschritte der jeweiligen Teams zusammen. Das überaus große Engagement, die fachspezifischen Kenntnisse und Erfahrungen der Teammitglieder, sowie die zielführenden Aktivitäten, lassen uns zuversichtlich auf ein zeitnahes Release von impact blicken.</p>
  </div>
</section>

<section class="insta">
  <div class="insta-container" data-aos="fade-up">
  </div>
</section>
