@import "../../../../../node_modules/bootstrap";

p {
  text-align: left;
  font: 100 18px Roboto;
  letter-spacing: 0px;
  color: #2F2F2F;
  opacity: 1;
}

.scroll-up-button {
  right: 5vw;
  bottom: 5vh;
  height: 50px;
  width: 50px;
  position: fixed;
  border-radius: 50%;
  background-color: #5A22F2;
}

.scroll-up-button .material-icons {

}

.header {
  width: 100%;
  height: calc(100vh - 90px);
  background-color: #5a22f2;
}

.header-container {
  padding: 15vh 0 15vh 0;
}

.header-img {
  vertical-align: bottom;
}

.header-img img {
  display: block;
  width: 100%;
  margin-top: -80px;
}

@include media-breakpoint-down(md) {
  .header-img img {
    margin-top: 0;
  }
}

.orga-button {
  background: #1b78f2 0% 0% no-repeat padding-box;
  border-radius: 70px;
  opacity: 1;
  font-family: Varela Round, serif;
  font-size: 18px;
  text-align: center;
  color: #f4f4f4;
}

.helfer-button {
  border-radius: 70px;
  opacity: 1;
  background: #b230dc 0% 0% no-repeat padding-box;
  font-family: Varela Round, serif;
  font-size: 18px;
  color: #f4f4f4;
}

.header-text {
  text-align: left;
  font: 400 8vw Roboto, sans-serif;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
}

.intro, .team, .contact {
  padding: 20vh 25vh 15vh 20vh;
}

.intro-headline, .contact-headline {
  margin-bottom: 3rem;
}

.intro-headline {
  text-align: center;
  font: 400 30px Varela Round;
  letter-spacing: 0px;
  color: #5A22F2;
  opacity: 1;
}

.intro img {
  display: block;
  width: 100%;
}

.teammember p {
  text-align: center;
}

.teammember-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: cover;
  border-style: solid;
}

.team-headline {
  text-align: center;
  font: 400 30px Varela Round;
  letter-spacing: 0px;
  color: #1B78F2;
  opacity: 1;
}

.team p {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
  -moz-column-gap: 20px; /* Firefox */
  column-gap: 40px;
}

.contact-headline {
  text-align: center;
  font: 400 30px Varela Round;
  letter-spacing: 0px;
  color: #5A22F2;
  opacity: 1;
}

.contact-field, .contact-field p {
  text-align: center;
}

.contact a {
  background: #BE21D6 0% 0% no-repeat padding-box;
  border-radius: 70px;
  opacity: 1;
  color: white;
}
