@use '../../../styles-mobile';
@import "../../../../node_modules/bootstrap";

@include media-breakpoint-down(sm) {

  .organisations {
    padding: 8vh 0 5vh 0;
    background-color: #f7f7f7;
  }

  .organisations-container {
    width: 100%;
    padding: 0vh 10vw 0vh 10vw;
  }

  .organisations-container img {
    height: 10rem;
    margin: 0 auto 20px auto;
  }

  .organisations-button {
    background-color: #ffffff !important;
    color: #c010d9 !important;
    margin-top: 50px;
    box-shadow: 0px 10px 20px #00000029;
  }

  .partner-container {
    margin-top: 30px;
    padding: 0vh 10vw 0vh 10vw;
  }

  .partner {
    padding: 10px;
  }

  .partner img {
    height: auto;
    max-width: 100%;
    max-height: 80px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    display: block;
  }

  .partner img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}
