<section class="organisations">
  <div class="organisations-container container">
    <div class="section-headline">{{myViewModel.organisationheadline}}</div>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="px-2">
          <picture>
            <source srcset="./assets/Illus/Illu_Schritt_nach_vorne.webp" type="image/webp">
            <img class="intro-img" alt="impact Illustration Ehrenamt" src="./assets/Illus/Illu_Schritt_nach_vorne.png">
          </picture>
          <b>{{myViewModel.ehrenamt[0]}}</b>
          <p>{{myViewModel.ehrenamt[1]}}</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="px-2">
          <picture>
            <source srcset="./assets/Illus/Illu_Knotenpunkt.webp" type="image/webp">
            <img class="intro-img" alt="impact Illustration Knoten" src="./assets/Illus/Illu_Knotenpunkt.png">
          </picture>
          <b>{{myViewModel.knoten[0]}}</b>
          <p>{{myViewModel.knoten[1]}}</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="px-2">
          <picture>
            <source srcset="./assets/Illus/Illu_Ergaenzen.webp" type="image/webp">
            <img class="intro-img" alt="impact Illustration Ergänzen" src="./assets/Illus/Illu_Ergaenzen.png">
          </picture>
          <b>{{myViewModel.ergaenzen[0]}}</b>
          <p>{{myViewModel.ergaenzen[1]}}</p>
        </div>
      </div>
      <div class="col-">
        <a href="mailto:partnerwerden@yourimpact.eu" mat-raised-button class="organisations-button button" routerLinkActive="active">{{myViewModel.organisationbutton}}</a>
      </div>
    </div>
  </div>
  <div class="partner-container container">
    <div class="row justify-content-center align-items-center align-self-center">
      <div class="col-lg-3 col-6 partner">
        <a target="_blank" href="https://www.konstanz.de">
          <img class="mx-auto" src="./assets/images/partners/logo-konstanz.png" alt="Stadt Konstanz, ein Partner von impact">
        </a>
      </div>
      <div class="col-lg-3 col-6 partner">
        <a target="_blank" href="https://www.save-me-konstanz.de">
          <img class="mx-auto" src="./assets/images/partners/SaveMeKonstanz.png" alt="SaveMe Konstanz, ein Partner von impact">
        </a>
      </div>
      <div class="col-lg-3 col-6 partner">
        <a target="_blank" href="https://www.ov-kn.drk.de">
          <img class="mx-auto" src="./assets/images/partners/DRK.png" alt="DRK Konstanz, ein Partner von impact">
        </a>
      </div>
      <div class="col-lg-3 col-6 partner">
        <a target="_blank" href="https://www.bund-konstanz.de">
          <img class="mx-auto" src="./assets/images/partners/BUND.png" alt="BUND Ortsverband Konstanz, ein Partner von impact">
        </a>
      </div>
      <div class="col-lg-3 col-6 partner">
        <a target="_blank" href="https://www.konstanz.de/kultur+_+freizeit/kultur-+und+begegnungszentren/treffpunkt+petershausen">
          <img class="mx-auto" src="./assets/images/partners/TreffpunktPetershausen.png" alt="Treffpunkt Pertershausen, ein Partner von impact">
        </a>
      </div>
      <div class="col-lg-3 col-6 partner">
        <a target="_blank" href="http://lenaweb.org">
          <img  class="mx-auto" src="./assets/images/partners/Lena.jpg" alt="Lena Konstanz, ein Partner von impact">
        </a>
      </div>
    </div>
  </div>
</section>
