$mat-primary: (
        50 : #e5e5e5,
        100 : #bebebd,
        200 : #939291,
        300 : #676665,
        400 : #474644,
        500 : #262523,
        600 : #22211f,
        700 : #1c1b1a,
        800 : #171615,
        900 : #0d0d0c,
        A100 : #5A22F2,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #ffffff,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);


/* For use in src/lib/core/theming/_palette.scss */
$mat-accent: (
        50 : #ffffe0,
        100 : #ffffb3,
        200 : #ffff80,
        300 : #ffff4d,
        400 : #ffff26,
        500 : #ffff00,
        600 : #ffff00,
        700 : #ffff00,
        800 : #ffff00,
        900 : #ffff00,
        A100 : #ffffff,
        A200 : #fffff2,
        A400 : #ffffbf,
        A700 : #ffffa6,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #000000,
                900 : #000000,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);


