@use '../../../styles-desktop';
@use '../../../styles-mobile';
@import "../../../../node_modules/bootstrap";

@include media-breakpoint-up(md) {
  .impressum {
    padding: 15vh 5vw 10vh 5vw;
    background-color: #f8f7f7;
  }
}

@include media-breakpoint-down(sm) {
  .impressum {
    padding: 10vh 5vw 10vh 5vw;
    background-color: #f8f7f7;
  }
}

