@use 'src/styles.desktop';

.impressum {
  padding: 20vh 5vw 10vh 5vw;
  background-color: #f8f7f7;
}

li {
  text-align: left;
  font: 100 18px Roboto;
  letter-spacing: 0px;
  color: #2F2F2F;
  opacity: 1;
}
