@use 'src/styles.desktop';

.sponsoring {
  padding: 20vh 5vw 10vh 5vw;
  background-color: #f8f7f7;
}

.sponsoring {
  background-image: url("../../../assets/Illus/background_sponsor.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
}

.sponsoring img {
  height: 15rem;
  display: block;
  margin: 0 auto 20% 0;
}

.sponsoring-button {
  background-color: #c010d9 !important;
  color: #ffffff !important;
  margin-top: 80px;
}

.sponsoring-button:hover {
  background-color: #ffffff !important;
  color: #c010d9 !important;
}
