<div class="container">
  <div class="row">
    <h1>Sponsoring</h1>
  </div>
  <div class="row">
    <div class="col-4">
      <p class="lead">Wofür benötigen wir Ihre Hilfe?</p>
      <p>impact verfolgt ausschließlich <span class="accent-color">gemeinnützige Ziele</span> und wird von jungen
        Studierenden getragen.
        Der Verein verfügt über keine nennenswerten Einkommensquellen.
        Gleichzeitig ist der Betrieb der App mit erheblichen Kosten verbunden, ebenso die anfänglich nötigen
        Werbemaßnahmen -
        nur so können wir den Nutzern das versprochene, <span class="accent-color">einzigartige Nutzungserlebnis</span>
        und die erfolgsentscheidende,
        <span class="accent-color">bundesweite Vernetzung</span> bieten.
      </p>
    </div>
    <div class="col-4">
      <p class="lead">Win-Win: Was können Sie von uns erwarten?</p>
      <p>Sie würden ein gemeinnütziges Projekt unterstützen, welches soziales Engagement und dessen gesellschaftliche
        Anerkennung
        fördert und damit ein elementarer Bestandteil davon werden - ohne Ihre Spenden läuft bei uns buchstäblich
        nichts.
        Neben dem erfüllenden Gefühl, etwas <span class="accent-color">Gutes zu tun</span>, erhalten Sie von uns als
        Dankeschön einen prominenten Platz auf
        unserer Projektseite und in der App, wodurch Sie konkret an <span class="accent-color">Sichtbarkeit, Reichweite und Ansehen</span>
        dazugewinnen.
      </p>
    </div>
    <div class="col-4">
      <p class="lead">Sie möchten uns unterstützen?</p>
      <p>Super! Nutzen Sie bequem eine der untenstehenden Optionen, <span class="accent-color">online und sicher</span>.
        Alternativ finden Sie im Impressum unsere <span class="accent-color">Bankverbindung</span>.
        Als eingetragener, anerkannt gemeinnütziger Verein stellen wir Ihnen eine <span class="accent-color">Spendenquittung</span>
        aus,
        sodass Sie diese steuerlich absetzen können.
      </p>
      <div class="row justify-content-around">
        <button mat-raised-button color="accent">Paypal</button>
        <button mat-raised-button color="accent">SEPA</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
