<section class="sponsoring">
  <div class="sponsoring-container container">
    <div class="section-headline">{{myViewModel.sponsorheadline}}</div>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="px-2">
          <picture>
            <source srcset="./assets/Illus/Illu_Ziele.webp" type="image/webp">
            <img class="intro-img" alt="impact Illustration Unterstützung" src="./assets/Illus/Illu_Ziele.png">
          </picture>
          <b>{{myViewModel.untersuetzung[0]}}</b>
          <p>{{myViewModel.untersuetzung[1]}}</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="px-2">
          <picture>
            <source srcset="./assets/Illus/Illu_winwin.webp" type="image/webp">
            <img class="intro-img" alt="impact Illustration Win Win" src="./assets/Illus/Illu_winwin.png">
          </picture>
          <b>{{myViewModel.profitieren[0]}}</b>
          <p>{{myViewModel.profitieren[1]}}</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="px-2">
          <picture>
            <source srcset="./assets/Illus/Illu_Sparschwein.webp" type="image/webp">
            <img class="intro-img" alt="impact Illustration Sparschwein" src="./assets/Illus/Illu_Sparschwein.png">
          </picture>
          <b>{{myViewModel.spende[0]}}</b>
          <p>{{myViewModel.spende[1]}}</p>
        </div>
      </div>
      <div class="col-">
        <a href="mailto:sponsorwerden@yourimpact.eu" mat-raised-button class="sponsoring-button button" routerLinkActive="active">{{myViewModel.sponsorbutton}}</a>
      </div>
    </div>
  </div>
</section>
