@use 'src/styles.mobile';

.sponsoring {
  padding: 8vh 0 5vh 0;
  background-color: #f7f7f7;
}


.sponsoring-container {
  width: 100%;
  padding: 0vh 10vw 0vh 10vw;
}

.sponsoring-container img {
  height: 10rem;
  margin: 0 auto 20px auto;
}

.sponsoring-button {
  background-color: #ffffff !important;
  color: #c010d9 !important;
  margin-top: 50px;
}
