<section class="sponsoring">
  <div class="sponsoring-container">
    <div class="section-headline">{{myViewModel.sponsorheadline}}</div>
    <mdb-carousel class="carousel slide carousel-fade" [animation]="'slide'" [interval]="'0'">
      <mdb-carousel-item>
        <div class="view w-100">
          <picture>
            <source srcset="./assets/Illus/Illu_Ziele.webp" type="image/webp">
            <img class="d-block" alt="impact Illustration Unterstützung" src="./assets/Illus/Illu_Ziele.png">
          </picture>
          <b>{{myViewModel.untersuetzung[0]}}</b>
          <p>{{myViewModel.untersuetzung[1]}}</p>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <div class="view w-100 intro-slide">
          <picture>
            <source srcset="./assets/Illus/Illu_winwin.webp" type="image/webp">
            <img class="d-block" alt="impact Illustration Win Win" src="./assets/Illus/Illu_winwin.png">
          </picture>
          <b>{{myViewModel.profitieren[0]}}</b>
          <p>{{myViewModel.profitieren[1]}}</p>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <div class="view w-100 intro-slide">
          <picture>
            <source srcset="./assets/Illus/Illu_Sparschwein.webp" type="image/webp">
            <img class="d-block" alt="impact Illustration Sparschwein" src="./assets/Illus/Illu_Sparschwein.png">
          </picture>
          <b>{{myViewModel.spende[0]}}</b>
          <p>{{myViewModel.spende[1]}}</p>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
  </div>
  <div class="row justify-content-center">
    <div class="col-">
      <a href="mailto:sponsorwerden@yourimpact.eu" mat-raised-button class="button sponsoring-button"
       routerLinkActive="active">{{myViewModel.sponsorbutton}}</a>
    </div>
  </div>
</section>
