@import "../node_modules/bootstrap";

@include media-breakpoint-up(md) {

  p {
    text-align: left;
    font: 100 18px Roboto;
    letter-spacing: 0px;
    color: #4b4b4b;
    opacity: 1;
    line-height: 1.4;
    hyphens: auto;
  }

  b {
    text-align: left;
    font: 500 18px Roboto !important;
    letter-spacing: 0px;
    color: #4b4b4b;
    opacity: 1;
    line-height: 1.4;
  }

  li {
    text-align: left;
    font: 100 18px Roboto;
    letter-spacing: 0px;
    color: #2F2F2F;
    opacity: 1;
  }

  h2 {
    text-align: left;
    font: 500 24px Roboto !important;
    letter-spacing: 0px;
    color: #2F2F2F;
  }

  h3 {
    text-align: left;
    font: 500 21px Roboto !important;
    letter-spacing: 0px;
    color: #2F2F2F;
  }

  h4 {
    text-align: left;
    font: 500 18px Roboto !important;
    letter-spacing: 0px;
    color: #2F2F2F;
  }

  .button {
    opacity: 1;
    font-family: Varela Round, serif;
    font-size: 18px;
    text-align: center;
    border-radius: 100px !important;
    padding: 7px 30px 7px 30px !important;
    height: 50px;
    box-shadow: 0px 10px 20px #00000029 !important;
  }


  .section-headline {
    height: 60px;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-size: 40px;
    letter-spacing: 0px;
    color: #5a22f2;
    opacity: 1;
    margin-bottom: 3rem;
    line-height: 1;
  }
}
