/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f8f7f7;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.accent-color {
  color: #5A22F2;
}

a {
  text-decoration: none !important;
}

h1 {
  color: #5a22f2;
}

.carousel .carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='cdd3d9' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
  width: 1rem !important;
  height: 1rem !important;
  opacity: 1 !important;
  position: absolute;
  top: 20%;
}

.carousel .carousel-control-prev {
  display: none;
}

.carousel-indicators {
  bottom: -3rem;
}

.carousel-indicators li {
  opacity: 1;
  background-color: #cdd3d9;
  width: 7px !important;
  height: 7px !important;
  margin: 0 6px 0 6px !important;
}

.carousel-indicators .active {
  background-color: #4b4b4b;
}

.carousel-dot-active {
  background-color: #4b4b4b !important;
}

.carousel-dot {
  opacity: 1;
  background-color: #cdd3d9;
  width: 7px !important;
  height: 7px !important;
  margin: 0 3px 0 3px !important;
  border: none !important;
}

.navbar {
  background-color: #ffffff;
}
