<header class="header">
  <div class="header-container">
    <div class="header-text">
      What's your impact?
    </div>
    <div class="header-img">
      <img alt="" src="../../../assets/images/Illu_Header.png">
    </div>
  </div>
</header>

<div class="intro">
  <h2>Wie oft bekommst Du zu hören, dass deine Freunde oder Bekannten sich sozial in Vereinen oder Institutionen engagieren, aber Du dir damit schwer tust etwas Geeignetes für Dich zu finden?</h2>
  <h2>Genau diesen Problemstellungen will sich „Impact“ stellen.</h2>
  <p>Impact bietet dir die Möglichkeit dich mit anderen Menschen zu vernetzen, deine Hilfe anzubieten oder Hilfsangebote aufzugeben. Egal ob Privatperson oder Organisation bei uns findet jeder die Unterstützung, die er benötigt. Hilfe erhältst du dabei von unserem selbst programmierten Matching Algorithmus. Dieser gleicht die Fähigkeiten der Helfenden mit den Anforderungen der Suchenden ab, um dir passende Matching Vorschläge zu geben. Da ehrenamtliche Tätigkeiten sehr hoch angesehen sind, stellen wir dir durch unser eigens entwickeltes Wertschätzsystem, ein von unseren strategischen Partnern unterstütztes und anerkanntes Zertifikat aus. Unsere Vision ist es den gesellschaftlichen Zusammenhalt über Krisenzeiten hinaus zu fördern und eine bundesweit einheitliche Plattform mit allen relevanten Akteuren zu schaffen.</p>



</div>


