<header class="header">
  <div class="header-container">
    <div class="header-text">
      What's your impact?
    </div>
    <div class="header-img">
      <img alt="" src="../../../assets/images/Illu_Header.png">
    </div>
  </div>
</header>

<section class="intro">
  <div class="intro-container" data-aos="fade-up">
    <div class="intro-headline">
      <h2>Wie oft bekommst Du zu hören, dass deine Freunde oder Bekannten sich sozial in Vereinen oder Institutionen engagieren, aber Du dir damit schwer tust etwas Geeignetes für Dich zu finden?</h2>
      <h2>Genau diesen Problemstellungen will sich „Impact“ stellen.</h2>
    </div>
    <p>Impact bietet dir die Möglichkeit dich mit anderen Menschen zu vernetzen, deine Hilfe anzubieten oder Hilfsangebote aufzugeben. Egal ob Privatperson oder Organisation bei uns findet jeder die Unterstützung, die er benötigt. Hilfe erhältst du dabei von unserem selbst programmierten Matching Algorithmus. Dieser gleicht die Fähigkeiten der Helfenden mit den Anforderungen der Suchenden ab, um dir passende Matching Vorschläge zu geben. Da ehrenamtliche Tätigkeiten sehr hoch angesehen sind, stellen wir dir durch unser eigens entwickeltes Wertschätzsystem, ein von unseren strategischen Partnern unterstütztes und anerkanntes Zertifikat aus. Unsere Vision ist es den gesellschaftlichen Zusammenhalt über Krisenzeiten hinaus zu fördern und eine bundesweit einheitliche Plattform mit allen relevanten Akteuren zu schaffen.</p>
  </div>
</section>

<section class="orga">
  <div class="orga-container" data-aos="fade-up">
    <div class="orga-headline">
      <h2>„Seien Sie einer der ersten Organisationen die das Ehrenamt mit revolutioniert, vereinheitlicht und verbessert.“</h2>
    </div>
    <p>Durch Umfragen haben wir festgestellt, dass sich immer weniger junge Menschen im Ehrenamt engagieren. Wir wollen den Trend neu setzen und mit unserer App insbesondere die jüngeren Teile der Gesellschaft ansprechen, um sie mit Ihnen zusammenzubringen. So können Sie mit mehr MitstreiterInnen und Nachwuchs rechnen. </p>
    <p>Als zentrale, bundesweite Anlaufstelle rund um das Ehrenamt würden sich die Sichtbarkeit und Reichweite Ihrer Organisation und Arbeit deutlich erhöhen, gleichzeitig würde sich Ihr Aufwand, die Menschen zu erreichen, spürbar verringern, da Sie weniger verschiedene Kanäle bedienen müssen. </p>
    <p>Durch die fachspezifischen Kenntnisse und Erfahrungen der Teammitglieder sind wir der vielseitigen Aufgabe, diese Plattform zu konzipieren und zu entwickeln, gewachsen. Was uns fehlt ist das ‚Ehrenamts-Know-How‘. Wir benötigen Ihre Erfahrungen um Sie bestmöglich bei Ihren Schwierigkeiten unterstützen zu können. </p>
    <p>Wenn Sie daran interessiert sind uns zu begleiten und gleichzeitig Ihre Organisation auf das nächste Level des Ehrenamts bringen wollen, können Sie gerne mit uns Kontakt aufnehmen.</p>
  </div>
</section>

<section class="sponsor">
  <div class="sponsor-container" data-aos="fade-up">
    <div class="sponsor-headline">
      <h2>Informationen für Sponsoren</h2>
    </div>
    <p>Durch die fachspezifischen Kenntnisse und Erfahrungen der Teammitglieder sind wir der vielseitigen Aufgabe, diese Plattform zu konzipieren und zu entwickeln, gewachsen. Was uns fehlt ist das ‚Ehrenamts-Know-How‘. Wir benötigen Ihre Erfahrungen um Sie bestmöglich bei Ihren Schwierigkeiten unterstützen zu können.</p>
    <p>Wenn Sie daran interessiert sind uns zu begleiten und gleichzeitig Ihre Organisation auf das nächste Level des Ehrenamts bringen wollen, können Sie gerne mit uns Kontakt aufnehmen.</p>
  </div>
</section>


<section class="team">
  <div class="team-container" data-aos="fade-up">
    <div class="team-headline">
      <h2>Das Team</h2>
    </div>
    <mat-grid-list cols="5" rowHeight="1:1">
      <mat-grid-tile><img src="../../../assets/images/portraits/Tobi.jpg" alt=""></mat-grid-tile>
      <mat-grid-tile><img src="../../../assets/images/portraits/Fabian.jpg" alt=""></mat-grid-tile>
      <mat-grid-tile><img src="../../../assets/images/portraits/Emine.jpg" alt=""></mat-grid-tile>
      <mat-grid-tile><img src="../../../assets/images/portraits/Ena.jpg" alt=""></mat-grid-tile>
      <mat-grid-tile><img src="../../../assets/images/portraits/Lena.jpg" alt=""></mat-grid-tile>
      <mat-grid-tile><img src="../../../assets/images/portraits/Julia.jpg" alt=""></mat-grid-tile>
      <mat-grid-tile><img src="../../../assets/images/portraits/Lara.jpg" alt=""></mat-grid-tile>
      <mat-grid-tile><img src="../../../assets/images/portraits/Michael.jpg" alt=""></mat-grid-tile>
      <mat-grid-tile><img src="../../../assets/images/portraits/Paula.jpg" alt=""></mat-grid-tile>
      <mat-grid-tile><img src="../../../assets/images/portraits/Lena.jpg" alt=""></mat-grid-tile>
    </mat-grid-list>
    <p>Wir sind ein wachsendes Team von 20 Studierenden aus Konstanz in den Teams Kommunikation, Design, Strategie und IT. Gemeinsam treffen wir uns, leider noch digital, regelmäßig und bringen die Fortschritte der jeweiligen Teams zusammen. Das überaus große Engagement, die fachspezifischen Kenntnisse und Erfahrungen der Teammitglieder, sowie die zielführenden Aktivitäten, lassen uns zuversichtlich auf ein zeitnahes Release von impact blicken.</p>
  </div>
</section>

<section class="contact">
  <div class="contact-container" data-aos="fade-up">
    <div class="contact-headline">
      <h2>Wir würden uns freuen, wenn wir immer wieder neue, interessierte Mitglieder aufnehmen können, die unser Projekt stärken und voranbringen wollen. Interessiert? Dann nimm gerne Kontakt mit uns auf:</h2>
    </div>
    <div class="contact-field">
      <p>Schreibe einfach eine E-Mail an info@yourimpact.eu</p>
      <a mat-stroked-button href="mailto:info@yourimpact.eu">E-Mail schreiben</a>
    </div>
  </div>
</section>

<section class="insta">
  <div class="insta-container" data-aos="fade-up">
  </div>
</section>
