p {
  text-align: left;
  font: 100 18px/26px Roboto;
  letter-spacing: 0px;
  color: #2F2F2F;
  opacity: 1;
}

.header {
  width: 100vw;
  height: calc(100vh - 90px);
  background-color: #5A22F2;
}

.header-container {
  display: flex;
  align-items: flex-end;
  padding: 20vh 10vh 20vh 10vh;
}

.header-img {
  width: 60%;
  vertical-align: bottom;
}

.header-img img {
  display: block;
  width: 100%;
}

.header-text {
  width: 40%;
  text-align: left;
  font: 400 100px/120px 'Roboto', sans-serif;
  font-size: 100px;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
}

.intro, .orga, .sponsor, .team, .contact {
  padding: 10vh 25vh 10vh 25vh;
}

.intro-headline, .orga-headline, .sponsor-headline, .contact-headline {
  margin-bottom: 3rem;
}

.intro-headline {
  text-align: center;
  font: 400 24px/32px Varela Round;
  letter-spacing: 0px;
  color: #5A22F2;
  opacity: 1;
}

.orga, .team {
  background: #F8F7F7 0% 0% no-repeat padding-box;
}

.orga-headline {
  text-align: center;
  font: 400 24px/32px Varela Round;
  letter-spacing: 0px;
  color: #C020D9;
  opacity: 1;
}

.sponsor-headline {
  text-align: center;
  font: 400 24px/32px Varela Round;
  letter-spacing: 0px;
  color: #5A22F2;
  opacity: 1;
}

.team-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.team-headline {
  text-align: center;
  font: 400 24px/32px Varela Round;
  letter-spacing: 0px;
  color: #1B78F2;
  opacity: 1;
}

.contact-headline {
  text-align: center;
  font: 400 24px/32px Varela Round;
  letter-spacing: 0px;
  color: #5A22F2;
  opacity: 1;
}

.contact-field, .contact-field p {
  text-align: center;
}

.contact a {
  background: #BE21D6 0% 0% no-repeat padding-box;
  border-radius: 70px;
  opacity: 1;
  color: white;
}
